.stat-box-card {
  background: var(--color-card-bg);
  color: var(--color-table-row-text);
  min-width: 160px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 32px;
  padding-top: 50px;
  position: relative;
}

.stat-box-label-container {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  z-index: 2;
}

.stat-box-tooltip {
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
  background: #161a1d;
  border: 1px solid #2c333a;
  color: #fff;
  padding: 6px 16px;
  border-radius: 10px;
  font-size: 16px;
  white-space: nowrap;
  box-shadow: 0 2px 8px var(--color-base-content);
  z-index: 10;
  pointer-events: none;
}

.stat-box-menu-container {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
}

.stat-box-menu-button {
  color: #fff;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-box-menu-icon {
  font-size: 16px;
  font-weight: 700;
}

.stat-box-menu-dropdown {
  position: absolute;
  top: 36px;
  right: 0;
  background: #222;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  min-width: 100px;
  z-index: 10;
  padding: 8px 0;
}

.stat-box-menu-item {
  padding: 8px 16px;
  cursor: pointer;
}

.stat-box-title {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.stat-box-value {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
}
