.warning-box {
  width: 100%;
  background: var(--color-warning-bg);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  min-height: 40px;
  margin-bottom: 24px;
  box-sizing: border-box;
}

.warning-box-text {
  font-weight: 700;
  color: var(--color-warning-text);
  font-size: 16px;
}

.warning-box-close {
  font-weight: 700;
  color: var(--color-warning-text);
  font-size: 16px;
  cursor: pointer;
}
